* {

/* FOOTER */

footer {
padding: 45px;
text-align: center;
background: #0d0d0d;
border-top: 1px solid #222;
margin-top: 60px;
font-size: 18px;
}

/* ANIMATIONS */

@keyframes fade {
from {
opacity: 0;
transform: translateY(10px);
}

to {
opacity: 1;
transform: translateY(0px);
}
}

/* RESPONSIVE */

@media(max-width: 950px) {

header {
flex-direction: column;
gap: 25px;
}

nav ul {
flex-direction: column;
align-items: center;
}

.hero {
padding: 120px 25px;
}

.hero h1 {
font-size: 48px;
}

.categories {
padding: 25px;
}

.login-box {
width: 90%;
}

}
